.textField
{
    -fx-font-size: 18px;
    -fx-background-color: #CFD8DC;
    -fx-background-radius: 10 10 10 10;
}
.editValue
{
    -fx-font-size: 24px;
    -fx-font-family: "Abyssinica SIL";
}
.responseMessage
{
    -fx-font-size: 20px;
    -fx-font-family: "Abyssinica SIL";
}
.cancel
{
    -fx-background-color: #fb3f3f;
    -fx-background-radius: 8 8 8 8;
}
.cancel:focused
{
    -fx-text-fill : #fff;
    -fx-background-color: #c22323;
}
.cancel:hover
{
    -fx-text-fill : #fff;
    -fx-background-color: #c22323;
}
.done
{
    -fx-background-color: #42A5F5 ;
    -fx-background-radius: 8 8 8 8;
}
.done:focused
{
    -fx-text-fill : #fff;
    -fx-background-color: #035b83;
}
.done:hover
{
    -fx-text-fill : #fff;
    -fx-background-color: #035b83;
}
.gridpane
{
    -fx-background-color: #717D7E;
}