.home-wall{
    -fx-background-image: url("../image/HomeWall.png");
    -fx-background-repeat: space;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.5, 0, 0);
    -fx-background-color: #626262;

}

.scroll-bar{
    -fx-background-color: black;
}





.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}




.scroll-bar:vertical{
    -fx-background-color: #272727;
}

.scroll-bar:horizontal{
    -fx-scale-x: 0;
}

.scroll-bar > .corner {
    -fx-background-color: none ;
}

.custom-list-view{
    -fx-background-color: rgba(66, 66, 66, 0.9);
    -fx-border-color: Grey;
    -fx-effect: dropshadow(three-pass-box, black, 0, 0, 0, 0);
    -fx-opacity: 0.8;

}

.list-cell{
    -fx-background-color: #434343;
    -fx-background-radius: 15;
}



.scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.scroll-bar:vertical {
    -fx-scale-x: 0;
}

.friend-bar{
    -fx-background-color: #636363;
    -fx-opacity: 0.85;
}

.main-view{
    -fx-background-color: none;
}



.chat-hBox{
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.file-button{
    -fx-background-color: #888888;
    -fx-background-radius: 15;
}

.file-button:hover{
    -fx-background-color: #3e3e3e;
}


.list-cell:odd{
    -fx-border-color: none;
    -fx-cell-size: 37;
}

.cancel-button{
    -fx-background-color: #d90000;
    -fx-background-radius: 15;
}
.cancel-button:hover{
    -fx-background-color: #870000;
}

.chat-field{
    -fx-border-color: none;
    -fx-background-color: none;
    -fx-background-radius: 15;
}

.list-cell:odd:hover{
    -fx-background-color: white;
    -fx-opacity: 0.5;
    -fx-text-fill: #fffefe;
}



.send-button{
    -fx-background-color: #07bf07;
    -fx-background-radius: 15;
}
.send-button:hover{
    -fx-background-color: #353535;
}

.send-button:focused{
    -fx-background-color: #07bf07;
}

.list-cell:odd:focused{
    -fx-background-color: white;
    -fx-text-fill: #fffefe;
}

.list-cell:even:focused{
    -fx-background-color: white;
    -fx-opacity: 0.65;
    -fx-text-fill: #fffefe;
}

.list-cell:even:hover{
    -fx-background-color: white;
    -fx-opacity: 0.5;
    -fx-text-fill: #fffefe;
}

.list-cell:even{
    -fx-background-color: white;
    -fx-border-color: none;
    -fx-cell-size: 37;
}

.hBox{
    -fx-border-color: Grey;
    -fx-background-color: Grey;
    -fx-effect: dropshadow(three-pass-box, black, 0, 0.5, 0, 0);
    -fx-opacity: 0.8;
}


.custom-button{
    -fx-background-color: none;
}

.custom-button:focused{
    -fx-background-color: #353535;
}

.custom-button:hover{
    -fx-background-color: #353535;
}
.add-friend-button{
    -fx-background-color: #19a419;
}

.add-friend-button:focused{
    -fx-background-color: none;
    -fx-text-fill: #066306;
}