.textField
{
    -fx-background-color: #CFD8DC;
    -fx-background-radius: 10 10 10 10;
}
.cancel
{
    -fx-background-color: #fb3f3f;
    -fx-background-radius: 8 8 8 8;
}
.cancel:focused
{
    -fx-background-color: #c22323;
}
.cancel:hover
{
    -fx-background-color: #c22323;
}
.done
{
    -fx-background-color: #42A5F5 ;
    -fx-background-radius: 8 8 8 8;
}
.done:focused
{
    -fx-background-color: #035b83;
}
.done:hover
{
    -fx-background-color: #035b83;
}
.setImage
{
    -fx-background-image: url("../image/set-image.png");
    -fx-background-color: none;
    -fx-background-size: cover;
}
.gridpane
{
    -fx-background-color: #717D7E;
}