.root{
    -fx-background-image: url("../image/Login2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.SignUp_Button{
    -fx-background-color: #5169E9;
}
.textField{
    -fx-background-color: #808080;
}
.greyGround{
    -fx-background-color: #696969;
}
.noColor{
    -fx-background-color: none;
}

.needAccountButton{
    -fx-background-color: none;
    -fx-text-fill: #ff8989;
}
.needAccountButton:focused{
    -fx-text-fill: #ff0505;
    -fx-opacity: 0.7;
}

.needAccountButton:hover{
    -fx-text-fill: #ff0505;
}