.root{
    -fx-background-image: url("../image/statusImage.png");
    -fx-background-repeat: space;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.5, 0, 0);
}

.list-view{
    -fx-opacity: 0.7;
    -fx-background-color: #3e3e3e;
   -fx-background-radius: 30;

}

.list-cell:hover{
    -fx-background-color: black;
    -fx-opacity: 0.8;
}

.vbox{
    -fx-background-radius: 30;
}

.exit-button{
    -fx-background-radius: 30;
    -fx-background-color: none;
}

.exit-button:hover{
    -fx-opacity: 0.75;
}


.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}




.scroll-bar:vertical{
    -fx-background-color: #272727;
}

.scroll-bar:horizontal{
    -fx-scale-x: 0;
}

.scroll-bar > .corner {
    -fx-background-color: none ;
}